<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'sample_app/my_style_new.css' %}">


</head>
<body>

    <h1 id="logo">Currency App!</h1>
    {% block content %}
        <-- This is where the page content will go! -->
    {% endblock %}
   <div id="footer">
        ©2021 Columbia Business School. All Rights Reserved
    </div>
</body>
</html>