<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Outsider Trading</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'sample_app/my_style_new.css' %}">
</head>
<body>

<p style="text-align:left;">
    <span style="float:right;">
        {% if user.username %}
            <span class="large-font">Hello {{ user.username }}!</span><br>
            <a href="{% url 'logout' %}"><button>logout</button></a>
        {% else %}
            <span class="large-font">Hello Guest User!</span><br>
        {% endif %}
    </span>
</p>

<h1 id="logo">Outsider Trading</h1>
<img src="https://i.redd.it/1tdjq7plg2321.jpg" width="400" height="300" alt="symbol" style="vertical-align:middle;margin:0px 50px">
{% block content %}
    <-- This is where the page content will go! -->
{% endblock %}
<div id="footer">
    ©2021 Columbia Business School. All Rights Reserved
</div>

</body>

</html>