{% extends "base1.html" %}
{% block content %}
<form action="{% url 'company_info' %}" method="get">
    <form action="" method="get">
        <div class="row">
            <div class="col-sm-6">
            <div class="form-group">
                <h4>Please select the company you wish for information on </h4>
                <select class="form-control d-inline-block">
                    {% for c in companies %}
                        <option value="{{ c.id }}">{{ c.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
</form>
{% endblock %}