{% extends "base1.html" %}
{% block content %}
    <h3>{{ name }} ({{ ticker }})</h3><br>
    The price of the stock is: {{ stock_price }}<br>
    The market cap is: {{ market_cap }}<br>
    Shares in Issue: {{ shares_in_issue }}<br>
    EPS: {{ EPS }}<br>
    PE Ratio: {{ PE_ratio }}<br>
    <p style="font-size:10px">*updates every 10 seconds</p>
    <script>
        window.setInterval('refresh()', 20000);
        function refresh() {
            window .location.reload();
        }
    </script>
<form action="{% url 'showformresults' %}" method="get">
 <table>
 <tr><td>Number of stocks you hold:</td><td><input name="quantity" type="number" step="1" min="1" max="500"></td></tr>
 <tr><td><input value="Add to Portfolio" type="submit"></td></tr>
     <input name="ticker" value="{{ ticker }}" type ="hidden">
 </table>
</form>
{% endblock %}