<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    div {
        float: left;
        height: 470px;
        width: 23%;
        padding: 0 10px;
    }

    #column1 {
        background-color: #a1edcc;
    }

    #column2 {
        background-color: #a0e9ed;
        width: 43%;
    }
    #column3 {
        background-color: #f497f1;
    }
    h2 {
        color: #000000;
        text-align: center;
    }
</style>

</head>
<body>
<body>
    <h2>Three side by side divs</h2>
    <div id="column1">
        <h2>Box 1 title goes here</h2>
            Stuff in box 1
    </div>
    <div id="column2">
        <h2>Box 2 title goes here</h2>
        Stuff in box 2
    </div>
    <div id="column3">
        <h2>Box 3 title goes here</h2>
        Stuff in box 3
    </div>
</body>

</body>
</html>