{% extends "base1.html" %}
{% block content %}
        <div class="jumbotron text-center">
        <p>Wall Street Thesis</p>
    </div>
<div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Value stocks</h3>
                <p>This would be your guide to value stocks</p>
            </div>
            <div class="col-sm-4">
                <h3>search</h3>
                <p> Please choose an action from the following options
                <p>
                    <a href="{% url 'company_selector' %}">search for a stock</a><br>
            </div>
            <div class="col-sm-4">
                <h3>The future!</h3>
                <p>Soon, you will be able to find stock information thesis!</p>
            </div>
        </div>
    </div>

{%  endblock %}
