{% extends "base1.html" %}
{% block content %}
        <div class="jumbotron text-center">
        <p>change</p>
    </div>
<div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Your guide on Stock investing </h3>
                <a href="https://www.moneyunder30.com/value-investing">The beginners Guide to value investing</a>
                <br>
                <a href="https://www.houzz.in/magazine/this-is-how-you-squeeze-in-a-master-suite-that-even-feels-roomy-stsetivw-vs~143830619">How to squeeze the suite</a>
                <br>
                <a herf="https://www.investopedia.com/options-basics-tutorial-4583012"> Intro to options trading (money!)</a>

            </div>
            <div class="col-sm-4">
                <h3>search</h3>
                <p> Please choose an action from the following options
                <p>
                    <a href="{% url 'company_info' %}">search for a stock</a><br>
            </div>
            <div class="col-sm-4">
                <h3>The future!</h3>
                <form enctype="multipart/form-data" method="post" action="{% url 'upload_file'%}">
                    {% csrf_token %}
                    <label for="myfile">Upload Analysis Here </label>
                    <input id="myfile" type="file" name="myfile">
                    <input type="submit" value="Upload">
                </form>
            </div>
        </div>
    </div>
</div>
{%  endblock %}
