<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snow day</title>
    <style>
        #bubbles {
            color:green
        }


        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
    </style>

</head>
<body>
<h1 id="bubbles">This is the largest heading</h1>
<h3>This is a smaller heading</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Income</th>
        <th>City</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>Qing Sheng</td>
        <td>450,000</td>
        <td>New York</td>
        <td>35</td>
    </tr>
    <tr>
        <td>Joe Schmoe</td>
        <td>175,000</td>
        <td>San Francisco</td>
        <td>42</td>
    </tr>
    <tr>
        <td>Ginger Hebblethwaite</td>
        <td>54,000</td>
        <td>Croydon</td>
        <td>35</td>
    </tr>
    <tr>
        <td>Bjorn Sorensdottir</td>
        <td>556.0000</td>
        <td>Selfoss</td>
        <td>35</td>
    </tr>
</table>

</body>
</html>
