{% extends "base1.html" %}
{% block content %}

<h2>{{ user.username }} protfolio summary:</h2>
<br>
<div id="table">
<table class="styled-table">
    <thead>
    <tr>
    <th class="c1">Ticker</t>
    <th class="c2">Quantity</th>
    <th class="c3">Price</th>
    <th class="c4">Value</th>
    <th class="c2">Beta</th>
    <th class="c3">Protfolio Beta</th>
    </thad>
    {% for i in zipped_list %}
    <tr>
        <td class="c1">{{i.0}}</td>
        <th class="c2">{{i.1}}</td>
        <th class="c3">{{i.2}}</td>
        <th class="c4">{{i.3}}</td>
        <th class="c2">{{i.4}}</td>
        <th class="c3">{{i.5}}</td>
    </tr>
    {% endfor %}
</table>
</div>
<a herf="https://investmentu.com/calculate-portfolios-beta/"> A guide to protfolio beta</a>




{% endblock %}